<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} home {% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">
    {% block style %}{% endblock %}

    <script>
        var site_url = '{{ request.host_url }}';
    </script>

</head>

<body>

    <main class="wrapper">
        <aside class="sidebar">
            <header>
                <form class="form-inline" id="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Search by title">
                        <button class="btn btn-link"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </header>
            <nav class="menu">
                <ul class="list-group"></ul>
            </nav>
        </aside>
        <section class="content">
            <header>
                <div class="pull-left">
                    <a href="/" class="btn btn-link"><i class="fa fa-home"></i> Home</a>
                </div>
                <div class="pull-right">
                    <a href="/notes/new" class="btn btn-link"><i class="fa fa-edit"></i> New Note</a>
                    <a href="/settings" class="btn btn-link"><i class="fa fa-gear"></i> Settings</a>
                </div>
            </header>
            <article class="container">
                {% block content %}{% endblock %}
            </article>
        </section>
    </main>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script src="{{url_for('static',filename='assets/js/index.js')}}"></script>
    {% block script %}{% endblock %}
</body>

</html>
