{% extends "layout/base.html" %}
{% block title %} home {% endblock %}
{% block style %}{% endblock %}
{% block content %}
    <div class="row well-sm">
        <div class="col-md-12">
            <div class="todo">
              <div class="header">
                <h3>Todo</h3>
                <input type="text" id="idea" placeholder="Title...">
                <span  class="addBtn">Add</span>
              </div>

              <ul class="todo-list"></ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}{% endblock %}
