{% extends "layout/base.html" %}
{% block title %} home {% endblock %}
{% block style %}
    <style>
        input[type=submit]{
            margin-top: 15px;
        }
    </style>
{% endblock %}

{% block back %}
    <a href="/"><i class="icon icon-arrow-right"></i></a>
{% endblock %}

{% block content %}
<form method="post">
    <div class="boxes">
        <div class="box">
            <input type="text" name="title">
        </div>
        <div class="box">
            <input type="text" name="description">
        </div>
    </div>

    <div class="boxes">
        <textarea name="content" rows="10"></textarea>
        <label>
            <input type="checkbox" name="favorite">
            Favorite
        </label>
    </div>
    <div class="boxes">
        <input type="submit" class="btn" name="save" value="Save note">
    </div>
</form>
{% endblock %}

{% block info %} {% endblock %}

{% block script %}{% endblock %}
