{% extends "layout/base.html" %}
{% block title %} home {% endblock %}
{% block style %}{% endblock %}          
{% block content %}
    <div class="pull-right" style="margin-top:1em">
        <a class="btn btn-primary" href="/notes/edit/{{note.uid}}">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-danger" href="/notes/delete/{{note.uid}}">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <h3>{{note.title}}</h3>
    <div class="pull-right">
        <small class="text-danger">{{note.category}}</small>
        <small class="text-info">{{note.date}}</small>
    </div>
    <p><em>{{note.description}}</em></p>
    {{note.content|markdown}}
{% endblock %}

{% block script %}{% endblock %}
